[Unit]
Description=Admin REST API Service (go)

[Service]
Type=simple
Restart=on-failure
Restart=always
RestartSec=5s
WorkingDirectory=/opt/IntomeBackend/cmd/admin-service
ExecStart=/opt/IntomeBackend/cmd/admin-service/admin-service

[Install]
WantedBy=multi-user.target
